<div *ngIf="cart==undefined">
    <div style="width: 100%;height:1000px;text-align:center;padding-top: 200px;">
        <h1>Sorry!</h1>
        <h3>You do not have authorization to access this page</h3>
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h2>Cart</h2>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Images</th>
                    <th>Name</th>
                    <th>Price/item</th>
                    <th>Quantity</th>
                    <th>total price</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of cart.items">
                    <td><img src="{{item.imageUrl}} " width="40px" height="40px"></td>
                    <td>{{item.name}}</td>
                    <td>{{item.price}}</td>
                    <td>{{item.quantity}}</td>
                    <td>{{item.totalPrice}}</td>
                    <td><button (click)="remCart(item)" class="btn btn-danger">Remove to Cart</button></td>
                </tr>
            </tbody>
        </table>
        <div>
            <button [disabled]="isDisabled" (click)="checkout()" class="btn btn-primary btn-lg">Checkout</button>
             </div>
    </div>
</div>